/* Reset */
@import '_reset';

body {
  background: url('img/pokedex-background.png') no-repeat;
  height: 600px;
  width: 800px;
  position: relative;
}

#image-region {
  height: 335px;
  width: 330px;
  float: left;
  top: 154px;
  position: absolute;
  left: 30px;
  overflow: hidden;
  background: black;
  img {
    width: 330px;
  }
}

#info-region {
  height: 373px;
  width: 300px;
  position: absolute;
  top: 159px;
  right: 36px;
  overflow: scroll;

  #pokemon-list-region {
    background: black;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #FFF;
    overflow: hidden;
    li {
      padding: 10px 10px;
      cursor: pointer;
      h3 {
        float: left;
        margin-right: 5px;
      }
    }
    li:hover {
      background-color: rgba(256, 256, 256, 0.4);
    }
  }

  .pokemon-show-layout {
    min-height: 373px;
    padding: 35px 20px;
    background: black;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #FFF;
    overflow: hidden;
    header {
      font-size: 18pt;
      text-align: center;
      padding: 0px 0px 30px;
    }
    div {
      padding: 15px 0px;
    }
  }
}
