/* Colors */
$asaper-dark-gray: #353637;
$asaper-med-gray: #979797;
$asaper-gray: #c7c7c7;
$asaper-orange: #fd851c;
$asaper-green: #00cb38;
$asaper-offwhite: #f9f9f9;
$asaper-button-font-size: 1.1666em;

/* Type Scale TODO */
// $typescale-base: 18px;

// 0.7777em
// 0.8333em
// 0.8889em     
// 0.9444em;
// 1.0556em;

// $typescale-1: x;
// $typescale: 1em;
// $typescale+1: y;

/* General Mixins <-- could be handled by compass or bourbon */ 
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

/* Base Styles */
body, input, button {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing:.0555em;
}

button {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

/* Snap Overrides */
.snap-drawers {
  background-color: #2E2E2F;
  color: white;
}

/* Chat Room Header */
.chat-room {
  header {
    position: absolute;
    height: 46px;
    background-color: $asaper-dark-gray;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 10;

    .top-bar-button {
      @include border-radius(5px);

      width: 111px;
      height: 32px;
      border: none;
      color: $asaper-offwhite;
      font-weight: 400;
      font-size: $asaper-button-font-size;
    }

    .emergency {
      background-color: $asaper-orange;
      margin: 7px 0px 7px 7px;
      outline: none;

      .icon-phone {
        font-size: .93em;
      }
    }

    .false {
      background-color: $asaper-green;
      margin: 7px 0px 7px 2px;
      outline: none;
    }

    .group {
      float: right;
      border: none; 
      border-left: 1px solid #000;
      width: 75px;
      height: 46px;
      margin: 0;
      padding-left: 12px;
      padding-right: 2px;
      background-color: transparent;
      color: $asaper-offwhite;
      font-size: $asaper-button-font-size;
      outline: none;
    }

    .icon-person {
      font-size: 1.05em;
      line-height: 42px;
      margin-left: -4px;
    }

    .icon-forward-arrow {
      line-height: 44px;
      color: #B1B1B1;
    }
  }
}

/* Chat Messages */
.chat-messages {
  z-index: 0;
  padding: 25px 8px 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  background-color: #f2f2f2;
}

.chat-message {
  width: 100%;
  @extend .clearfix;

  .stamp, .message {
    width: 70%;
  }

  .stamp {
    padding-top: 14px;
    padding-bottom: 4px;
    font-size: .7777em;
    font-weight: 400;
    color: #8a8a8a;
  }

  .message {
    position: relative;
    margin: 0;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
  }
}

.event-message {
  .stamp {
    text-align: right;
    width: auto;
  }

  .event-message-header{
    position: relative;
    padding: 6px 0 6px 10px;
    border-radius: 5px 5px 0 0;
    background-color: #fff;

    .event-icon, .event-info {
      display: inline-block;
    }

    .event-icon {
      vertical-align: top;
      margin-top: 14px;
    }

    .event-info {
      margin-left: 4px;
    }

    .title, .subtitle {
      font-weight: 400;
    }

    .title {
      font-size: 1.0556em;
      color: #464647;
      margin: 0;
    }

    .subtitle {
      font-size: .9444em;
      color: #8d8d8d;
    }

    &:after {
      content: " ";
      position: absolute;
      bottom: 0px;
      left: 2%;
      height: 1px;
      width: 96%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .message {
    width: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@mixin bubble-tail($type) {
  content: " ";
  position: absolute;
  top: 0;
  width: 8px;
  height: 14px;
  @if $type == 'member' {
    background-image: url("img/member-message-bubble-tail.png");
    left: -8px;
  }
  @else if $type == 'user' {
    background-image: url("img/user-message-bubble-tail.png");
    right: -8px;
  }
}

.member-message{
  .stamp {
    text-align: right;
    margin-left: 60px;
  }

  .message, .avatar {
    float: left;
  }

  .avatar {
   border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .message{
    border-top-left-radius: 0;
    margin-left: 10px;

    &:before {
      @include bubble-tail('member');
    }
  }
}

.user-message {
  .stamp, .message {
    margin-right: 20px;
  }

  .stamp {
    text-align: left;
    float: right;
  }

  .message {
    float: right;
    border-top-right-radius: 0;
    background-color: #0075FF;
    color: #fff;

    &:before {
      @include bubble-tail('user');
    }
  }
}

.system-message {
  .stamp {
    width: 100%;
    text-align: right;
  }
  .message {
    width: auto;
  }
}

/* Member List */
.member-list-aside {
  header {
    position: absolute;
    top: 0;
    right: 0;
    height: 46px;
    width: 199px;
    border-bottom: 1px solid $asaper-med-gray;

    h2 {
      margin: 0 0 0 10px;
      color: $asaper-gray;
      line-height: 46px;
      font-size: 1.0556em;
      font-weight: 300;
      margin-left: 10px;
    }
  }

  .asaper-info {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 199px;
    line-height: 40px;
    border-top: 1px solid #000;

    span {
      margin-left: 10px;
      font-size: .8333em;
      font-weight: 300;
    }

    em {
      font-size: .9444em;
      color: $asaper-orange;
    }
  }
}

.member-list {
  position: absolute;
  top: 46px;
  right: 0;
  bottom: 40px;
  width: 199px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: scroll;

  li {
    height: 50px;
    position: relative;
    width: 199px;

    .member-status {
      position: absolute;
      top: 12px;
      left: 10px;
      height: 13px;
      width: 13px;

      img {
        width: 13px;
        height: 13px;
      }
    }

    .member-info {
      position: absolute;
      top: 0;
      right: 0;
      width: 166px;
      bottom: 0;
      border-bottom: 1px solid $asaper-med-gray;

      .name {
        margin: 0;
        font-size: .8889em;
        font-weight: 300;
        color: #f6f6f6;
        padding-top: 5px;
      }

      .status-text {
        vertical-align: top;
        font-size: .7222em;
        color: #adadad;
      }
    }
  }
}

/* Chat Input Area */
.chat-room footer {
  z-index: 10;
  position: absolute;
  height: 44px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;

  .send-button {
    float: right;
    height: 44px;
    width: 66px;
    border: 0;
    background-color: #353637;
    color: $asaper-gray;
  }

  .input-field {
    border-top: 1px solid rgba(0,0,0,0.10);
    height: 40px; 
    background-color: white;
  }

  .single-input-field {
    span {
      font-weight: 300;
      display: block;
      overflow: hidden;
      height: 100%;
      padding: 0px 15px;
    }

    input {
      width: 100%;
      border: 0;
      outline: none;
      height: 100%;
    }
  }
}

/* Overrides */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
